
.about{
    background: url(https://res.cloudinary.com/djw882kt3/image/upload/v1657938420/About/About_olrkgv.jpg) no-repeat left;
    background-size: 55%;
    background-color: #fffff;
    overflow: hidden;
    padding: 100px 0;
    margin-left:7rem;
    margin-right: 7rem;
}
.inner-section{
    width: 55%;
    float: right;
    background-color: #ffff;
    padding: 140px;
    box-shadow: 10px 10px 8px rgba(0,0,0,0.3);
}
.inner-section h1{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
}
.text{
    font-size: 13px;
    color: #545454;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
}
.skills button{
    font-size: 22px;
    text-align: center;
    letter-spacing: 2px;
    border: none;
    border-radius: 20px;
    padding: 8px;
    width: 200px;
    background-color: #25D366 ;
    color: white;
    cursor: pointer;
    
}

.skills button a {
    position: relative;
    z-index: 2;
    color: #fff;
    text-decoration: none;
  }
.skills button:hover{
    transition: 1s;
    background-color: #ecf5f5;
    color: #00999c;
}
.Peta{
    padding-top: 100px;
}
@media screen and (max-width:1200px){
    
    .inner-section{
        padding: 80px;
    }
}
@media screen and (max-width:1000px){
    .about{
        
            margin-left:0;
            margin-right: 0;
            
        background-size: 100%;
        padding: 100px 40px;
    }
    .inner-section{
        width: 100%;
    }
}

@media screen and (max-width:600px){
    .about{
        margin-left:0;
        margin-right: 0;
        padding: 0;
    }
    .inner-section{
        padding: 60px;
    }
    .skills button{
        font-size: 19px;
        padding: 5px;
        width: 160px;
    }
}